##############################################################################
# Mandatory packages
##############################################################################
Django
psycopg2

##############################################################################
# Optional packages 
##############################################################################
# django-crispy-forms
# django-bootstrap4
# django-tables2
# sqlparse


##############################################################################
# Optional packages for development server
##############################################################################
django-debug-toolbar
django-extensions
coverage
