{% extends "base.html" %}
{% load i18n %}

{% block base_content %}
<div class="row">
    <h1>{% trans "New Timeslots" %}</h1>
    <div class="col-6">
        <h2>{% trans "Available Stations" %}</h2>
        <table class="table table-hover table-striped table-bordered">
            {% for object in objects %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
<!-- vim:syntax=htmldjango
-->
