{% extends "base.html" %}
{% load i18n %}

{% block base_content %}
<h1>
    {% trans "Reservation for" %}
    {{ object.date }}
</h1>
<table class="table table-striped table-bordered table-hover table-sm">
    <tr>
        <th>{% trans "Dock" %}</th>
        <td>{{ object.dock }}</td>
    </tr><tr>
        <th>{% trans "Timeslot" %}</th>
        <td>{{ object.start }} - {{ object.end }}</td>
    </tr><tr>
        <th>{% trans "User" %}</th>
        <td>{{ object.user.get_full_name }} ({{ object.user.usercompany }})</td>
    </tr><tr>
        <th>{% trans "Created" %}</th>
        <td>{{ object.created }}</td>
    </tr>
</table>

<form method="post" action="">
    {% csrf_token %} 
    {{ formset.manaement_form }}
    {% for form in formset %}
        <table class="table table-bordered table-sm">
            {{ form }}
        </table>
    {% endfor %}
    <button type="submit" class="btn btn-success">
        {% trans "Save Reservation" %}
    </button>
    <button type="submit" class="btn btn-warning">
        {% trans "Cancel Reservation" %}
    </button>
</form>

{% endblock %}
<!-- vim:syntax=htmldjango
-->
