{% extends "base.html" %}
{% load i18n %}

{% block user_menu %}
    <a href="#" class="dropdown-item" data-toggle="collapse" data-target="#sidebar" aria-expanded="false">
        <span class="fas fa-bars"></span>
        {% trans "Toggle sidebar" %}
    </a>
{% endblock %}

{% block base_content %}
<div class="col-sm-3 collapse" id="sidebar">
    <div class="btn-group-vertical w-100" role="group" aria-label="Dock buttons">
    {% for dock, slots in docks %}
        <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#{{ dock }}"
                aria-expanded="true" aria-controls="{{ dock }}" aria-pressed="false">
            {{ dock }}
        </button>
    {% endfor %}
    </div>
    <div id="inlinepicker" class="mt-4"></div>
    <script type="text/javascript">
     $(function() {
         $("#inlinepicker").datetimepicker({
             format: 'YYYY-MM-DD',
             inline: true,
             date: '{{ showdate|date:"Y-m-d" }}',
             locale: '{{ LANGUAGE_CODE }}'
         });
         $("#inlinepicker").on('change.datetimepicker', function(ev) {
             if (ev.oldDate != null) {
                 window.location.href = "{% url "station" station.id %}/date/" + ev.date.format("YYYY/MM/DD")
             } else {
                 alert(ev.date)
             }
         });
     });
    </script>
</div>
<div class="col-sm">
    <h1 class="text-center">
        <small><a href="{% url 'stationdocks' station.id showdate|date:'Y' showdate|date:'m' prevday %}">
            <span class="fas fa-chevron-circle-left"></span>
        </a></small>
        {{ showdate|date:'l' }}, {{ showdate }}
        <small><a href="{% url 'stationdocks' station.id showdate|date:'Y' showdate|date:'m' nextday %}">
            <span class="fas fa-chevron-circle-right"></span></a>
        </a></small>
        <span class="ml-5">
            <div class="btn-group btn-group-sm" role="group" aria-label="Dock buttons">
            {% for dock, slots in docks %}
                <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#{{ dock }}"
                        aria-expanded="true" aria-controls="{{ dock }}" aria-pressed="false">
                    {{ dock }}
                </button>
            {% endfor %}
            </div>
        </span>
    </h1>
    <div class="row">
        {% for dock, slots in docks %}
        <div class="col-sm slot-tables collapse show" id="{{ dock }}">
                <h2 class="text-center">{{ dock }}</h2>
                <table class="table table-striped table-bordered table-hover table-sm">
                    {% for slot in slots %}
                    <tr>
                        {% for col in slot %}
                            {% if forloop.counter0 %}
                                <td>{{ col }}</td>
                            {% else %}
                                <th style="width: 3.5em;" class="table-active">{{ col }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!-- vim:syntax=htmldjango tw=150
-->
