{% load static from staticfiles %}
{% load i18n %}
{% load slot_tags %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8">
    <meta name="description" content="KRONOS - New Timeslots">
    <meta name="author" content="Lutz Moppert">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KRONOS - Timeslots</title>
    <link rel="shortcut icon" type="image/ico" href="{% static "timeslots/img/favicon.ico" %}">
    <link rel="stylesheet" type="text/css" href="{% static "timeslots/css/timeslots.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div id="header">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="{% static "timeslots/img/kronoslogo.png" %}"
                alt="KRONOS Logo" class="img-fluid">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            {{ user.get_full_name }}{{ permission|show_role }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="main">
        <div class="container">
            {% block base_content %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="content">
            <ul id="menu" class="menu">
                <li class="item-115"><a href="http://kronostio2.com/en/important-legal-information">Important Legal Information</a></li>
                <li class="item-669"><a href="http://kronostio2.com/en/terms-and-conditions">Terms and Conditions of Sale</a></li>
                <li class="item-116"><a href="http://kronostio2.com/en/privacy-policy">Privacy Policy</a></li>
            </ul>
            <br>© 2018 KRONOS Worldwide, Inc. |&nbsp;5430 LBJ Freeway, Suite 1700 |
            Dallas, TX, 75240 | United States<br>Phone: (972) 233-1700 | Fax: (972) 448-1445 |
            <a href="mailto:kronos.marketing@kronosww.com">kronos.marketing@kronosww.com</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" crossorigin="anonymous"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4">
    </script>
    </div>
</body>
</html>
<!-- vim:syntax=htmldjango
-->
